:root {
  --primary-dark-blue: #1e3a8a;
  --primary-soft-gray: #ececec;
  --accent-cyan: #06b6d4;
  --accent-purple: #a78bfa;
  --success-green: #10b981;
  --warning-yellow: #fbbf24;
  --error-red: #ef4444;
  --background-dark: #111827;
  --text-primary: #ffffff;
  --text-secondary: #9ca3af;
}

::-webkit-scrollbar {
  width: 3px !important;
}

::-webkit-scrollbar-track {
  background: whitesmoke;
}

::-webkit-scrollbar-thumb {
  background: gray;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--accent-purple);
}

.bgGradient {
  background: radial-gradient(
      circle,
      var(--accent-purple) 20%,
      var(--accent-cyan) 60%,
      var(--primary-soft-gray) 100%
    ),
    linear-gradient(
      135deg,
      var(--primary-dark-blue),
      var(--accent-purple),
      var(--accent-cyan)
    );
  background-blend-mode: overlay;
}

.border-dashed-1 {
  border: 1px dashed var(--accent-cyan);
}

.cursorPointer {
  cursor: pointer;
}

.textJustify {
  text-align: justify;
}

.custom-btn {
  color: #fff;
  padding: 10px 25px;
  position: relative;
  overflow: hidden;
  font-weight: 700;
  border: none;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
}

.btn-custom {
  transition: all 0.3s ease;
  z-index: 1;
}

.btn-custom::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1fd1f9;
  background-image: linear-gradient(
    315deg,
    var(--accent-cyan) 0%,
    var(--accent-purple) 50%,
    var(--primary-dark-blue) 75%
  );
  z-index: -1;
  transition: all 0.3s ease;
}

.btn-custom:hover {
  background: transparent;
  color: #fff;
}

.btn-custom:hover:after {
  -webkit-transform: scale(2) rotate(180deg);
  transform: scale(2) rotate(180deg);
}

.custom-btn:disabled {
  opacity: 1;
  color: black;
}

.custom-btn:disabled::after {
  opacity: 0.5;
}

.minHeigth300 {
  min-height: 300px;
}

.truncated-file-name {
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncated-profile {
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.owl-stage-outer {
  padding: 20px 0;
}

.owl-dot span {
  background: var(--primary-dark-blue) !important;
  transition: 0.3s !important;
}

.owl-dot.active span {
  width: 15px !important;
  border-radius: 3px !important;
  background: linear-gradient(
    315deg,
    var(--error-red) 0%,
    var(--warning-yellow) 50%,
    var(--success-green) 75%
  ) !important;
}

.mainHeading {
  z-index: 0;
  position: relative;
}

.mainHeading::before {
  content: var(--text);
  position: absolute;
  transform: scale(1.5);
  z-index: -1;
  filter: opacity(0.2);
  -webkit-text-stroke: 2px rgb(185, 185, 185);
  top: -30%;
  color: lightgray;
}

.navbarCustom::before {
  content: "";
  position: absolute;
  background: radial-gradient(
      circle,
      var(--accent-purple) 20%,
      var(--accent-cyan) 60%,
      var(--primary-soft-gray) 100%
    ),
    linear-gradient(
      135deg,
      var(--primary-dark-blue),
      var(--accent-purple),
      var(--accent-cyan)
    );
  background-blend-mode: overlay;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
}

@media (max-width: 991px) {
  .responsiveNavbar {
    background: radial-gradient(
        circle,
        var(--accent-purple) 20%,
        var(--accent-cyan) 60%,
        var(--primary-soft-gray) 100%
      ),
      linear-gradient(
        135deg,
        var(--primary-dark-blue),
        var(--accent-purple),
        var(--accent-cyan)
      );
    background-blend-mode: overlay;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  }

  .navbarCustom::before {
    display: none;
  }
}

.dropzone {
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.dropzone:hover {
  transform: scale(1.02);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.selected {
  color: var(--warning-yellow);
}

.selected span {
  color: var(--success-green);
}

.form-box {
  z-index: 1;
}

.form-box:after {
  content: "";
  position: absolute;
  background: var(--error-red);
  opacity: 0.3;
  top: -20%;
  left: -10%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  transform: scale(1.5);
  z-index: -1;
}

.form-box::before {
  content: "";
  transform: scale(1.5);
  position: absolute;
  background: var(--warning-yellow);
  opacity: 0.3;
  bottom: -20%;
  right: -10%;
  width: 200px;
  height: 200px;
  z-index: -1;
  border-radius: 50%;
}

.AnimatedIcons {
  z-index: -1;
}

.AnimatedIcons i {
  font-size: 5rem;
  color: rgba(255, 255, 255, 0.3);
  animation: animatedIconsMove 80s ease-in-out infinite;
}

.cardCustom {
  max-width: 100%;
  height: 350px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cardCustom:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.cardCustomHead {
  background: linear-gradient(
    135deg,
    var(--accent-cyan),
    var(--primary-dark-blue)
  );
  border-radius: 0 0 120px 20px;
}

.cardCustomHead i {
  font-size: 7rem;
}

@keyframes animatedIconsMove {
  0% {
    top: var(--start-top);
    left: var(--start-left);
  }

  6.25% {
    top: var(--end-top);
    left: var(--end-left);
  }

  12.5% {
    top: var(--end-left);
    left: var(--start-top);
  }

  18.75% {
    top: var(--start-left);
    left: var(--end-top);
  }

  25% {
    top: var(--end-left);
    left: var(--start-left);
  }

  31.25% {
    top: var(--start-top);
    left: var(--end-left);
  }

  37.5% {
    top: var(--end-top);
    left: var(--start-left);
  }

  43.75% {
    top: var(--end-left);
    left: var(--end-top);
  }

  50% {
    top: var(--start-top);
    left: var(--end-top);
  }

  56.25% {
    top: var(--start-left);
    left: var(--end-left);
  }

  62.5% {
    top: var(--end-top);
    left: var(--start-top);
  }

  68.75% {
    top: var(--start-left);
    left: var(--start-top);
  }

  75% {
    top: var(--start-top);
    left: var(--end-top);
  }

  81.25% {
    top: var(--end-top);
    left: var(--start-top);
  }

  87.5% {
    top: var(--start-top);
    left: var(--end-left);
  }

  100% {
    top: var(--start-left);
    left: var(--end-top);
  }
}

.table-responsive {
  scrollbar-width: thin;
}

.tableHeadCustom tr th {
  background: linear-gradient(var(--accent-purple), var(--accent-cyan));
  color: white;
  text-shadow: 0 0 0.2rem gray;
}

.tableBodyCustom tr td {
  font-weight: 700;
  color: var(--accent-cyan);
  transition: 0.2s;
}

.historyBanner i {
  filter: drop-shadow(0 0.2rem 0.2rem gray);
  font-size: 6rem;
}

.historyBanner h3 {
  filter: drop-shadow(0 0.2rem 0.2rem gray);
  font-size: 5rem;
}

.historyBanner p {
  font-size: 1.5rem;
  filter: drop-shadow(0 0.2rem 0.2rem gray);
}

@media (max-width: 768px) {
  .historyBanner h3 {
    font-size: 3rem;
  }

  .historyBanner p {
    font-size: 1.2rem;
  }
}

.skill {
  width: 200px;
  height: 200px;
}

.outer {
  height: 200px;
  width: 200px;
  padding: 20px;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.inner {
  height: 160px;
  width: 160px;
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(255, 255, 255, 1),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.5);
}

circle {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: var(--circumference);
  stroke-dashoffset: var(--circumference);
  animation: animate 2s linear forwards;
}

@keyframes animate {
  100% {
    stroke-dashoffset: var(--array);
  }
}

.mainPlayBtn {
  width: 70px;
  height: 70px;
  z-index: 2;
  background: rgba(0, 0, 0, 0.7);
  transition: 0.5s;
  animation: pulse 1.5s infinite ease-in-out;
}

.mainPlayBtn:hover {
  background: rgba(0, 0, 0, 0.7);
}

.controls {
  bottom: 5px;
  transition: opacity 0.3s ease-in-out;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  border-top: 2px solid rgba(0, 0, 0, 0.9);
}

.videoDurater {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 8px;
  background: linear-gradient(
    to right,
    var(--warning-yellow) 0%,
    var(--primary-soft-gray) 100%
  );
  border-radius: 5px;
  outline: none;
}

.videoDurater::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: transparent;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s;
}

.videoDurater:hover::-webkit-slider-thumb {
  background-color: var(--success-green);
}

.volume-slider-box {
  top: -440%;
  left: 50%;
  transform: translateX(-50%) rotate(-90deg);
  z-index: 10;
  backdrop-filter: blur(10px);
}

#volume-slider {
  -webkit-appearance: none;
  appearance: none;
  width: 150px;
  height: 5px;
  background: linear-gradient(
    to right,
    var(--accent-purple) 0%,
    var(--accent-purple) 50%,
    var(--accent-cyan) 50%,
    var(--accent-cyan) 100%
  );
  border-radius: 5px;
  outline: none;
}

#volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #1d4b99;
  border-radius: 50%;
  cursor: pointer;
}

#volume-slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: var(--accent-purple);
  border-radius: 50%;
  cursor: pointer;
}

#volume-slider:focus {
  background: var(--success-green);
}

.featureCard {
  z-index: 0;
  background: var(--cardColor);
}

.featureImg {
  z-index: -1;
  opacity: 0.2;
  mix-blend-mode: lighten;
  transition: 0.5s;
}

.featureCard:hover .featureImg {
  opacity: 0.5;
}

.testimonialCardHead {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://media.istockphoto.com/id/1156309035/vector/red-speech-and-thought-bubbles-with-quote-marks.jpg?s=612x612&w=0&k=20&c=tarfzBLFuPL9X92P3Rc5kpgCsqbv1cLEi38HRvPvVcE=")
      no-repeat fixed center center;
  background-size: cover;
}

.doc-view-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  font-family: Arial, sans-serif;
}

.error-message {
  color: red;
  font-size: 18px;
  text-align: center;
  margin: 20px;
}

.file-content {
  max-width: 1200px;
  overflow-x: auto;
}

iframe {
  border: none;
  border-radius: 8px;
}

.file-content table {
  width: 100%;
  border-collapse: collapse;
}

.file-content table,
.file-content th,
.file-content td {
  border: 1px solid #ddd;
}

.file-content th,
.file-content td {
  padding: 12px;
  text-align: left;
}

.file-content th {
  background-color: #3498db;
  color: white;
}

.file-content tr:nth-child(even) {
  background-color: #f9f9f9;
}

@media (max-width: 768px) {
  .file-content {
    width: 90%;
  }
}

.socialIcons {
  transition: 1s ease-in-out;
  transform: scale(1);
}

.socialIcons:hover {
  transform: scale(1.2) translateY(-5px);
}

/*?  Design Fixing CSS ?*/
footer {
  background-color: #f8f9fa;
  color: #343a40;
  padding: 2rem 0;
}

footer a {
  color: #343a40;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;
}

footer .fa-brands {
  font-size: 1.5rem;
  transition: color 0.3s ease, transform 0.3s ease;
}

footer .fa-brands:hover {
  transform: scale(1.2);
}

.footer-nav-link {
  margin-bottom: 0.5rem;
  transition: 0.3s;
}

.footer-nav-link:hover {
  transform: translateX(5px);
}

footer a:hover {
  transform: translateX(5px);
}
