@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Dosis", sans-serif;
  transition: 0.5s;
}

body {
  background: url("https://64.media.tumblr.com/8a35b143cf857cf6ec52ea783c5f81c9/tumblr_on1hxqZOgl1r9i2iuo1_r2_500.gifv")
    no-repeat fixed center center;
  background-size: 100% 100%;
  min-height: 100vh;
  overflow: hidden;
}

header {
  background: rgba(0, 0, 0, 0.5);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  padding: 15px 20px;
  backdrop-filter: blur(5px);
  text-shadow: 2px 2px 5px black;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo {
  font-size: 2rem;
  font-weight: 900;
  color: white;
  text-decoration: none;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  transition: all 0.3s ease;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 10px;
  display: block;
}

nav ul li a:hover {
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

.btn {
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.hamburger {
  display: none;
  font-size: 2rem;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 101;
}

.hamburger.open {
  transform: rotate(90deg);
  transition: transform 0.3s;
}

@media (max-width: 768px) {
  nav ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 80px;
    padding: 20px;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    text-align: center;
  }

  nav ul.active {
    display: flex;
    animation: slideDown 0.3s ease forwards;
  }

  @keyframes slideDown {
    from {
      opacity: 0;
      transform: translateY(-20%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  nav ul li {
    margin: 15px 0;
  }

  .hamburger {
    display: block;
  }

  .btn {
    display: none;
  }

  nav ul.active .btn {
    display: block;
    margin: 20px 0;
  }
}

.headingBox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  font-size: 8rem;
}
.headingBox h1 {
  background: url("https://i.makeagif.com/media/6-04-2016/cWfXok.gif");
  background-clip: text;
  color: transparent;
  backdrop-filter: blur(12px);
  border-radius: 50px;
  padding: 1%;
  box-shadow: 12px 12px 12px black;
  -webkit-text-stroke: 5px lightgreen;
  position: relative;
  z-index: 1;
}

.headingBox h1::after {
  content: "Home";
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 2%;
  filter: blur(5px);
  top: 0;
  left: 0;
  transform: scale(1);
  z-index: -1;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 90%;
  max-width: 400px;
  padding: 20px;
  backdrop-filter: blur(10px);
  box-shadow: 12px 12px 12px black;
  border-radius: 50px;
  color: lightgreen;
  position: relative;
  overflow: hidden;
  transition: height 0.5s ease-in-out;
}

.form-container {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  position: relative;
  width: 100%;
}

.wrapper h1 {
  font-size: 32px;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 5px;
}
.wrapper p {
  text-align: center;
  margin-bottom: 5px;
  text-transform: capitalize;
}
.input-box {
  position: relative;
  margin-bottom: 20px;
}

.input-box input,
select {
  width: 100%;
  padding: 10px 45px 10px 20px;
  background: transparent;
  border: 2px solid white;
  border-radius: 40px;
  font-size: 16px;
  color: lightgreen;
  outline: none;
  appearance: none;
  transition: border 0.3s ease;
}
option {
  color: darkgreen;
}
option:hover {
  background: darkgreen;
  color: lightgreen;
}
.input-box input::placeholder {
  color: white;
  font-weight: 700;
}
.input-box input:focus::placeholder {
  color: lightgreen;
}

.input-box input:focus,
input:valid {
  border: 2px solid lightgreen;
}

.input-box i {
  position: absolute;
  color: white;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.input-box input:focus + i {
  color: lightgreen;
}
.button {
  width: 100%;
  padding: 10px 0;
  background: lightgreen;
  border: none;
  border-radius: 40px;
  font-size: 18px;
  color: darkgreen;
  cursor: pointer;
  margin-bottom: 10px;
  box-shadow: 0.2rem 0.2rem 0.2rem black;
}

.button:hover {
  background: darkgreen;
  color: lightgreen;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  box-shadow: 0.5rem 0.5rem 0.5rem black;
}

div.table {
  width: 90vw;
  height: 80vh;
  background: #ffffff55;
  backdrop-filter: blur(7px);
  box-shadow: 0 0.4rem 0.8rem #0005;
  border-radius: 0.8rem;
  overflow: hidden;
}
.tableHeader {
  width: 100%;
  height: 10%;
  background: #fff4;
  padding: 0.8rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tableHeader h2 {
  color: #333;
  font-size: 1.8rem;
}
.tableBody {
  width: 95%;
  max-height: calc(89% - 0.8rem);
  background: #fffb;
  border-radius: 0.6rem;
  margin: 0.8rem auto;
  overflow: auto;
}
.tableBody::-webkit-scrollbar {
  width: 0.5rem;
}
.tableBody::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background: #0004;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  padding: 1rem;
  text-align: left;
}
td img {
  width: 36px;
  height: 36px;
  margin-right: 0.5rem;
  border-radius: 50%;
  vertical-align: middle;
}
thead th {
  position: sticky;
  top: 0;
  background: #d5d1de;
}
tbody tr:nth-child(even) {
  background: #0000000b;
}
tbody tr:hover {
  background: #fff6;
}
@media (max-width: 1006px) {
  td:not(:first-of-type) {
    min-width: 12.1rem;
  }
}

.card {
  width: 350px;
  backdrop-filter: blur(12px);
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  color: white;
}

.card .cardHeader {
  width: 100%;
  height: 250px;
  position: relative;
  overflow: hidden;
}

.card .cardHeader img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.card .cardHeader img:hover {
  transform: scale(1.1);
}

.cardBody {
  padding: 20px;
  text-align: center;
}

.cardBody h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  border-bottom: 2px solid lightgreen;
  padding-bottom: 0.5rem;
  letter-spacing: 1px;
}

.cardBody h4 {
  margin: 0.4rem 0;
  font-size: 1rem;
  color: #c3c3c3;
}

.btnBox {
  display: flex;
  width: 100%;
  border-radius: 50px;
  overflow: hidden;
  box-shadow: 0.2rem 0.2rem 0.2rem black;
}
.btn2 {
  padding: 12px;
  width: 100%;
  text-wrap: nowrap;
  position: relative;
  background: lightgreen;
  color: darkgreen;
  text-decoration: none;
  border: none;
  outline: none;
}
.btn2:hover {
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  background: darkgreen;
  color: lightgreen;
}
@media screen and (max-width: 768px) {
  .card {
    width: 90%;
  }
}
.btn3 {
  background: lightgreen;
  font-weight: 600;
  text-decoration: none;
  border-radius: 50px;
  color: darkgreen;
  padding: 12px;
  text-shadow: none;
}
.btn3:hover {
  letter-spacing: 0.5rem;
  background: darkgreen;
  color: lightgreen;
  text-transform: uppercase;
}
