* {
  transition: 1s !important;
}
body {
  background: linear-gradient(135deg, #f9f9f9, #e6e6ff);
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-custom {
  background: linear-gradient(145deg, #ffffff, #f2f2ff);
  border-radius: 20px;
  border: none;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.card-custom:hover {
  transform: translateY(-10px);
}

.card-header h2 {
  color: #333;
  font-weight: 700;
  background: -webkit-linear-gradient(45deg, #007bff, #ff7b00);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 1px;
}

.custom-input {
  background: #fff !important;
  border: 2px solid #ddd !important;
  color: #333;
  padding: 5px;
  border-radius: 12px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.custom-input:focus {
  border-color: #007bff !important;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
  outline: none !important;
}

input::placeholder,
select::placeholder {
  color: #aaa !important;
}

input:focus::placeholder {
  color: #007bff !important;
}

.button,
button {
  background: linear-gradient(90deg, #ff7b00, #007bff);
  color: #fff !important;
  text-shadow: 2px 2px 2px black;
}
.sp-btn {
  width: 20%;
}
.sp-btn:hover {
  letter-spacing: 0.5rem;
  width: 100%;
}
.button:hover,
button:hover {
  background: linear-gradient(90deg, #007bff, #ff7b00);
  box-shadow: 0 8px 15px rgba(0, 123, 255, 0.2);
  transform: scale(1.02);
}

.card-footer {
  background: none;
  border-top: none;
}

/* Animations and Hover Effects */
.card-header h2 {
  animation: gradientText 4s ease-in-out infinite;
}

@keyframes gradientText {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.button:active,
button:active {
  transform: scale(0.98);
}
