:root {
  --bg: #121212;
  --bg2: #333;
  --bg3: #1e1e1e;
  --hover: #555;
  --text: #fff;
}
body {
  background: var(--bg);
  color: var(--text);
  overflow: hidden;
}

.counter-box {
  background-color: var(--bg);
  border: 2px solid var(--bg2);
  color: var(--text);
}

.counter-box h1 {
  color: var(--text);
}

.btn {
  border-radius: 20px;
  padding: 10px 20px;
  color: var(--text);
  background-color: var(--bg2);
  border: none;
  box-shadow: 0 0 3px #000;
  transition: 0.5s;
}

.btn:hover {
  box-shadow: 0 0 5px var(--bg2);
  background-color: var(--hover);
}

.container {
  min-height: 100vh;
}

.dark-theme {
  background-color: var(--bg);
  color: var(--text);
  min-height: 100vh;
}

.dark-textarea {
  background-color: var(--bg3);
  color: var(--text);
  border: 1px solid var(--bg2);
}

.dark-btn {
  background-color: var(--bg2);
  color: var(--text);
  border: none;
  box-shadow: 0 0 3px black;
}

.dark-btn:hover {
  background-color: var(--hover) !important;
}

textarea {
  resize: none;
}

input::placeholder,
textarea::placeholder {
  color: var(--text) !important;
}

textarea:focus,
input:focus {
  background: var(--bg3) !important;
  color: var(--text) !important;
  box-shadow: none !important;
  border-color: var(--text) !important;
}
