:root {
  --background-color: #09091f;
  --primary-color: #1d4b99;
  --secondary-color: #e94560;
  --accent-color: #f9c74f;
  --text-color-light: #f1f1f1;
  --text-color-muted: #888888;
  --success-color: #43aa8b;
  --warning-color: #f8961e;
  --error-color: #d00000;
  --animation-color-1: #00b4d8;
  --animation-color-2: #9d4edd;
  --animation-color-3: #ff006e;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  transition: 0.5s ease;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--background-color);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    45deg,
    var(--animation-color-1),
    var(--animation-color-2),
    var(--animation-color-3)
  );
  transition: 0.5s;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    45deg,
    var(--animation-color-3),
    var(--animation-color-2),
    var(--animation-color-1)
  );
}

body {
  background: var(--background-color);
}

.header {
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  z-index: 10;
}
.header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  background: linear-gradient(
    45deg,
    transparent,
    rgba(255, 255, 255, 0.1),
    transparent
  );
}
.header:hover::before {
  left: 100%;
}

.navbar-brand i {
  transform: rotate(180deg);
  z-index: 10;
}

.navbar-brand:hover i {
  transform: rotate(0) scale(1.5);
  animation: TextPos 5s linear infinite;
  z-index: 15;
}

.nav-link:hover {
  color: var(--navLink) !important;
  z-index: 15;
}

.nav-link.active {
  color: var(--navLink) !important;
  z-index: 15;
}

h2 {
  color: white;
  position: relative;
  display: inline-block;
  font-size: 3rem;
}

h2::after {
  content: var(--afterText);
  position: absolute;
  font-size: 8rem;
  left: 50%;
  bottom: -100%;
  z-index: -1;
  opacity: 0.2;
  filter: blur(5px);
  text-wrap: nowrap;
  transform: translate(-50%, -50%);
  animation: TextPos 5s linear infinite;
}

.table-custom {
  background: var(--background-color);
}

thead {
  animation: BgPos 10s ease infinite;
}

tbody tr {
  position: relative;
  z-index: 1;
  animation: TextPos 4s ease-in-out infinite;
}

tbody tr:hover {
  transform: scale(1.1);
  box-shadow: 2px 2px 12px black, -1px -1px 8px black;
  backdrop-filter: blur(10px);
  background: rgba(20, 20, 80, 0.9) !important;
  z-index: 10;
  color: white !important;
  background-clip: none;
}

.button {
  position: relative;
  width: 120px;
  height: 40px;
  z-index: 5;
  outline: 0 !important;
  border: 0 !important;
}

.button:hover {
  z-index: 6;
}

.button p {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  text-transform: lowercase;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  color: #fff;
  text-decoration: none;
  font-size: 80%;
  font-weight: 600;
  letter-spacing: 0.5px;
  transition: 0.5s;
  backdrop-filter: blur(15px);
  overflow: hidden;
  z-index: 5;
}

.button:hover p {
  letter-spacing: 3px;
  text-transform: uppercase;
}

.button p::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
  transform: skewX(45deg) translateX(0);
  transition: 0.5s;
  z-index: 4;
}

.button:hover p::before {
  transform: skewX(45deg) translateX(200%);
}

.button::before,
.button::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 10px;
  background: var(--color);
  box-shadow: 0 0 5px var(--color), 0 0 15px var(--color), 0 0 30px var(--color),
    0 0 60px var(--color);
  border-radius: 10px;
  transition: 0.5s;
  z-index: 4;
}

.button::before {
  bottom: -5px;
}

.button::after {
  top: -5px;
}

.button:hover::before,
.button:hover::after {
  width: 80%;
  height: 50%;
  border-radius: 30px;
  transition-delay: 0.1s;
}

.button:hover::before {
  bottom: 0;
}

.button:hover::after {
  top: 0;
}

.img-custom {
  transform: rotate(90deg);
}

tbody tr td:hover .img-custom {
  transform: scale(10) rotate(0) translate(-50%);
  position: fixed;
  top: 0%;
  z-index: 99 !important;
  box-shadow: 2px 2px 12px black, -1px -1px 8px black;
}

.image-container {
  position: relative;
  min-width: 800px;
  width: 100% !important;
  min-height: 480px !important;
  background: rgba(255, 255, 255, 0.1);
}

.image-container::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #09091f;
  backdrop-filter: blur(10px);
  border-radius: 0.375rem;
  z-index: -1;
}

.image-container::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -5;
  animation: BgPos 4s linear infinite;
  filter: blur(3px);
  background-clip: border;
}

.image-container h3 {
  animation: TextPos 5s linear infinite;
  text-shadow: 0 0 5px black, 0 0 10px black;
}

.image-container:hover h3 {
  text-shadow: 0 0 5px black;
}

.img-show {
  width: 250px !important;
  transform: rotate(10deg) translateX(50px) translateY(10px);
}

.img-show:hover {
  box-shadow: 2px 2px 12px black, -1px -1px 8px black !important;
  transform: scale(1.09) rotate(0);
}

.input-box {
  position: relative;
}
.input-box::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50rem;
  top: 0;
  z-index: -2;
  left: 0;
  animation: BgPos 5s linear infinite;
  filter: blur(2px);
}
.input-box::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50rem;
  top: 0;
  z-index: -1;
  left: 0;
  background: var(--background-color);
}
.form-custom {
  border: 0;
  width: 100%;
  height: 100%;
  outline: 0;
  text-align: center;
  font-weight: 700;
  background: rgba(0, 0, 0, 0.01);
  backdrop-filter: blur(3px);
}
.form-custom::placeholder {
  font-weight: 700;
}
.form-custom:focus {
  color: black !important;
  animation: BgPos 5s linear infinite;
}
.form-custom:focus::placeholder {
  color: black !important;
}

.wrapper {
  position: relative;
  background: transparent;
  overflow: hidden;
  border: 2px solid #0ef;
}

.wrapper.login {
  width: 750px;
  height: 450px;
}

.wrapper.register {
  width: 1000px;
  height: 590px;
}

.wrapper .form-box {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper .form-box.login {
  left: 0;
  padding: 0 60px 0 40px;
}

.wrapper .form-box.register {
  right: 0;
  padding: 0 40px 0 60px;
}

.wrapper .form-box h2 {
  font-size: 32px;
  color: #fff;
  text-align: center;
}

.wrapper .input-custom-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 25px 0;
}

.wrapper .input-custom-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: 0;
  outline: 0;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  border-bottom: 2px solid #fff;
  padding-right: 23px;
}

.wrapper .input-custom-box input:focus,
.wrapper .input-custom-box input:valid {
  border-color: #0ef;
}

.wrapper .input-custom-box label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 16px;
  color: #fff;
  pointer-events: none;
}

.wrapper .input-custom-box input:focus ~ label,
.wrapper .input-custom-box input:valid ~ label {
  top: -5px;
  color: #0ef;
}

.wrapper .input-custom-box i {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 18px;
  color: #fff;
}

.wrapper .input-custom-box input:focus ~ i,
.wrapper .input-custom-box input:valid ~ i {
  color: #0ef;
}

.wrapper .btnNew {
  position: relative;
  width: 100%;
  height: 45px;
  background: transparent;
  border: 2px solid #0ef;
  outline: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  overflow: hidden;
  font-weight: 600;
}

.wrapper .btnNew::before {
  content: "";
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 300%;
  background: linear-gradient(
    var(--animation-color-1),
    var(--animation-color-2),
    var(--animation-color-3)
  );
  z-index: -1;
}

.wrapper .btnNew:hover::before {
  top: 0;
}

.wrapper .form-box .logreg-link {
  font-size: 14.5px;
  color: #fff;
  text-align: center;
  margin: 20px 0 10px;
}

.logreg-link p a {
  color: #0ef;
  text-decoration: none;
  font-weight: 600;
}

.logreg-link p a:hover {
  text-decoration: underline;
}

.wrapper .info-text {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper .info-text.login {
  right: 0;
  text-align: right;
  padding: 0 40px 60px 150px;
}

.wrapper .info-text.register {
  left: 0;
  text-align: left;
  padding: 0 150px 60px 40px;
}

.wrapper .info-text h1 {
  font-size: 36px;
  color: #000;
  line-height: 1.3;
  text-transform: uppercase;
}

.wrapper .info-text p {
  font-size: 16px;
  color: #000;
}

.wrapper .bg-animate {
  position: absolute;
  top: -4px;
  right: 0;
  width: 900px;
  height: 600px;
  animation: BgPos 4s linear infinite;
  border-bottom: 3px solid white;
  transform: rotate(10deg) skewY(40deg);
  transform-origin: bottom right;
  z-index: -2;
}

.wrapper .bg-animate2 {
  position: absolute;
  top: -4px;
  right: 150px;
  width: 850px;
  height: 600px;
  animation: BgPos 4s linear infinite;
  transform: rotate(0) skewY(0);
  transform-origin: bottom right;
  z-index: -2;
}

.wrapper .bg-animate4 {
  position: absolute;
  top: 111%;
  left: 250px;
  width: 850px;
  height: 700px;
  background: var(--background-color);
  border-top: 3px solid white;
  transform: rotate(-11deg) skewY(-41deg);
  transform-origin: bottom left;
  z-index: -2;
}

@keyframes TextPos {
  0%,
  100% {
    background: linear-gradient(
      45deg,
      var(--primary-color),
      var(--secondary-color),
      var(--accent-color),
      var(--text-color-light),
      var(--text-color-muted),
      var(--success-color),
      var(--warning-color),
      var(--error-color),
      var(--animation-color-1),
      var(--animation-color-2),
      var(--animation-color-3)
    );
    background-size: 400%, 400%;
    background-position: 0 0;
    color: transparent;
    background-clip: text;
  }
  50% {
    background-position: 100% 100%;
  }
}

@keyframes BgPos {
  0%,
  100% {
    background: linear-gradient(
      45deg,
      var(--primary-color),
      var(--secondary-color),
      var(--accent-color),
      var(--text-color-light),
      var(--text-color-muted),
      var(--success-color),
      var(--warning-color),
      var(--error-color),
      var(--animation-color-1),
      var(--animation-color-2),
      var(--animation-color-3)
    );
    background-size: 400%, 400%;
    background-position: 0 0;
    color: white;
  }
  50% {
    background-position: 100% 100%;
  }
}
