/* button {
  width: 100px;
  height: 50px;
  position: relative;
  padding: 25px;
  text-align: left;
  box-shadow: 2px 2px 12px black, -1px -1px 8px black;
}
button::after {
  content: "";
  position: absolute;
  width: 40%;
  height: 80%;
  background: white;
  top: 10%;
  border-radius: 50%;
  box-shadow: 2px 2px 12px black, -1px -1px 8px black;
  transition: 0.5s linear;
  background: linear-gradient(red, blue);
}
button.clicked::after {
  transform: translateX(70%) rotate(360deg);
}
button::after {
  transform: translateX(-50%);
} */